*.o

config.mk

src/cc.h
src/cc
src/cc1/cc1
src/cpp/cpp

src/cc1/TEST.c
src/cc1/test
src/cc1/test.s

lib/os.h
lib/syscall.s
lib/syscall_err.s
lib/string_strerrs.h
test/addr
test/cat
test/late_decl
test/old_func
test/printf_args
test/printf_simple
test/ptr_arith
test/sizeof
