*.o

config.mk

tags

src/cc1/cc1
src/cpp2/cpp
src/ucc/ucc
src/ucc/cfg.h
src/as_cfg.h

lib/libc.a
lib/crt.a

lib/syscall.s
lib/syscall_err.s
lib/syscalls_darwin.h
lib/string_strerrs.h

src/cc1/cc1.exe
src/cpp2/cpp.exe
src/ucc/ucc.exe
*.obj
