*.o
*.d

tags

src/config.mk
src/config_as.h
src/ucc.spec
lib/config.mk

src/cc1/cc1
src/cpp2/cpp
src/ucc/ucc

src/cc1/test
src/util/test
src/ucc/test

lib/libc.a
lib/crt.a

lib/syscall.s
lib/syscall_err.s
lib/syscalls_darwin.h
lib/string_strerrs.h
lib/string_strerrs
lib/.*.d

src/cc1/cc1.exe
src/cpp2/cpp.exe
src/ucc/ucc.exe
*.obj

tools/link_r
