name: ucc ci

on:
  push:
  pull_request:

jobs:
  test-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: configure
      run: ./configure CFLAGS=-fsanitize=address LDFLAGS=-fsanitize=address
    - name: bootstrap
      run: make bootstrap
      env:
        ASAN_OPTIONS: detect_leaks=0
    - name: test
      run: make check-bootstrap
      env:
        ASAN_OPTIONS: detect_leaks=0
  test-darwin:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: configure
      run: ./configure CFLAGS=-fsanitize=address LDFLAGS=-fsanitize=address
    - name: bootstrap
      run: make bootstrap
      env:
        ASAN_OPTIONS: detect_leaks=0
    - name: test
      run: make check-bootstrap
      env:
        ASAN_OPTIONS: detect_leaks=0
  #test-windows:
  #  runs-on: windows-latest
  #  steps:
  #   <nothing for now>

# i386: apt install libc6-i386
